.App {
  text-align: center;
  margin-top: 250px;
}

body{
  background-image: url(https://img.freepik.com/free-photo/courage-man-jump-through-the-gap-between-hill-business-concept-idea_1323-262.jpg?w=1380&t=st=1673267432~exp=1673268032~hmac=985dbed8996dd285e3b0721e8bcdf39500d214f3c0659b58ac2b2453b8409ca8);
background-size: cover;
background-repeat: no-repeat;
}
h2{

  font-size: 40px;
}
button{
  font-size: 50px;
  padding: 10px;
  margin: 20px;
  border-radius: 25px;
  background-color: black;
  color: yellow;
}